#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  text-decoration: none;
}
li {
  padding: 10px;
}
